@model List<TeamStreamApp.Search.Models.KeywordCaptionSearchResults>

@{
    ViewBag.Title = "Search Results";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="page-header">
    Search Results - Search Keywords and Computer Vision API Description
</h1>
<div class="row">
    <div class="col-lg-9">

        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Keywords</th>
                        <th>Video URL</th>
                        <th>ThumbnailUrl</th>
                        <th>Caption</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Keywords)</td>
                        <td>@Html.DisplayFor(modelItem => item.RawUrl)</td>
                        <td>@Html.DisplayFor(modelItem => item.ThumbnailUrl)</td>
                        <td>@Html.DisplayFor(modelItem => item.Text)</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>

    </div>
</div>

